<%- include('partials/header', {title: article.title}) %>
<div>
    <a href="/articles"> Retour </a>
</div>
<div>
    <img src='<%= article.urlToImage%>'>
</div>
    <div>
        <p>
            <a href="/article/edit">Modifier</a>
            <a href="#" id="deleteArticle" data-slug="<%=article.slug%>" >Supprimer</a>
        </p>
    </div>
    <div>
        <h1><%= article.title%></h1>
        <p><%= article.description%></p>
    </div>
    <div>
        <%= article.content%>
    </div>


<script src="/js/deleteArticle.js"></script>
<%- include('partials/footer') -%>
